.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.product-list .item {
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 0.5rem;
    transition: box-shadow .3s; 

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.product-list .item:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow .3s border .3s;
    border-color: transparent;
    border-width: 0px;
}